<div class="row" style="z-index: 6;">
  <div class="col-1 d-flex justify-content-center">
      <div id="mySidenav" class="sidenav">
          <a href="#" routerLink="" class="hover-underline-animation">Article</a>
          <a href="#" routerLink="" class="hover-underline-animation">Pro forma</a>
      </div>
  </div>
</div>
<!--Navbar-->
<nav class="navbar navbar-light bg-light" style="color: #08419C; box-shadow: 0px 0px 8px #888888; position: fixed; width: 100%; z-index: 6;">
  <!-- Collapse button -->
  <button class="navbar-toggler hamburger-button" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" (click)="Nav()" style="z-index: 2">
      <div class="animated-icon"><span></span><span></span><span></span></div>
  </button>
  <!-- Navbar brand -->
  <div class="mx-auto order-0">
      <a class="navbar-brand" style="color: #08419C" href="#">Systeme commerciale: Fournisseur</a>
  </div>
</nav>
