/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke !important;
}

ul{
  list-style: none;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.boutton{
  text-transform: uppercase;
  outline: 0;
  background: #05204A;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #05204A;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #05204A;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #05204A;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  /*background: linear-gradient(90deg, #08419C 0%, #05204A 50%);*/
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: large;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #05204A!important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0px 0px 8px #888888;
  }

  .sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: white;
  }

  .sidenav::-webkit-scrollbar {
    display: none;
  }


    .animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }

    .animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }

    .animated-icon span {
    background: #05204A;
    }

    .animated-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }

    .animated-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }

    .animated-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }

    .animated-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
    }

    .animated-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
    }

    .animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
    }

    button {
      border:none !important;
      outline: none;}
    button:focus{
      outline: 0 !important;
      box-shadow: none !important;
    }

    .center {
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      text-align: center;
      vertical-align: middle;
    }

    div.my-box{
      box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.154); background-color: white;
      font-size: 1.2em;
      font-weight: 300;
  }
  div.my-box form div input, div.my-box form div select, div.my-box form div{
      font-weight: 300;
  }

  tr.product-index td:first-child {
      letter-spacing: 1px;
  }
  tr.product-title{
      font-weight:300;
  }
  tr.product-index td:last-child,
  tr.product-index td:nth-last-child(2){
    text-align: right;
  }
  tr.product-index td:nth-child(2),
  tr.product-index td:nth-child(3){
      text-align: center;
  }
  tr.product-title th:last-child,
  tr.product-title th:nth-last-child(2){
    text-align: right;
  }
  tr.invoice-result{
      text-align: right;
  }

  tr.invoice-result td:first-child{
      font-weight:300;
  }
  table#invoice{
      font-weight:300;
  }
  tr.invoice-result td ul{
      list-style-type: none;
  }


  tbody tr.product-index td{
      padding-top: 15px;
      padding-bottom: 15px;
  }

  tr.last-invoice-result td{
      font-weight: normal;
  }

  tr.last-invoice-result ul li:last-child{
      font-size: medium;
      font-weight: lighter;
  }
  .hide-invoice{
      font-size:medium;
  }

  /*header*/
  div.title-text{
    color: #05204A;
  }
  div.title-text b{
    color: #08419C;
  }
  .box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    color: #08419C;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 900;
  }

  label{
    font-weight: 300;
  }

  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }

  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }

  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .box:hover:before {
    border-color: #05204A;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }

  .box:hover:after {
    border-color: #08419C;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }

  button.anim {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }

  /*Aniimation*/
  .citation {
    display: inline-block;
    position: relative;
    color:
  white;
  }

  .citation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:
    white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .citation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /**/
  .citation {
    display: inline-block;
    position: relative;
    color:
    #05204A;
  }

  .citation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:
    #05204A;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .citation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  button{
    background-color: #05204A;
  }
